/*/////////////////
/ Global settings /
/////////////////*/
:root {
    /* Default to light mode */
    --dark-mode: "false";
    --background-color-light: #ffffff;
    --background-color-dark: #050505;
    --text-color-light: #000000;
    --text-color-dark: #a9a9a9;
    --primary-color-light: #7700FF;  /* A touch darker alternative (maybe a good accent color idea?): #4E2A84 */
    --primary-color-dark: #7700FF;
}

html {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

html[data-dark-mode='true'] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

html {
    font-family: 'Montserrat', 'Google Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/*//////
/ Body /
//////*/
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header div {
    display: inline-block;
}

header div span {
    text-wrap: pretty;  /* FIXME: This propagates also to the name in the <h1> */
}

main {
    display: inline-block;
    vertical-align: top;
    width: 80%
}

aside {
    display: inline-block;
    width: auto;
}

h1 {
    display: inline-block;
}

/*//////////////// /
/ Dark mode slider /
//////////////////*/
#dark-mode-switch-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    float: right;
}

#dark-mode-switch-box input {
    opacity: 0;
    width: 0;
    height: 0;
}

#dark-mode-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#dark-mode-switch:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#dark-mode-switch {
    background-color: var(--primary-color-dark);
}

input:focus+#dark-mode-switch {
    box-shadow: 0 0 .5px var(--primary-color-dark);
}

input:checked+#dark-mode-switch:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#dark-mode-switch {
    border-radius: 17px;
}

#dark-mode-switch:before {
    border-radius: 50%;
}