html {
    font-family: 'Montserrat', 'Google Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        color: darkgrey;
        background-color: #050505;
    }
}

main {
    display: inline-block;
    vertical-align: top;
    width: 80%
}

aside {
    display: inline-block;
    width: auto;
}

#header-span {
    align-self: center;
}
  